* {
	margin: 0;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	/*平滑滚动*/
}

@font-face {
	font-family: Gen-Jyuu-Gothic-Regular;
	src: url('fonts/Gen-Jyuu-Gothic-Regular.ttf')format('truetype');
	src: url('fonts/Gen-Jyuu-Gothic-Regular.svg');
}

body {
	/*background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);*/
	background-image: linear-gradient(150deg, rgb(164 192 229) 0%, #d6e0e5 100%);
	background-attachment: fixed;
}

.logo>img {
	height: 40px;
	position: absolute;
	top: 50px;
	left: 50px;
}

.wa {
	float: right;
	position: relative;
	top: 3.125rem ;
	right: 3.125rem ;
}

ul li {
	list-style: none;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}

li a {
	font: 26px medium;
	font-family: 'Gen-Jyuu-Gothic-Regular';
	color: #4c5199;
}

.text {
	color: #4c5199;
 	position: relative;
 	top: 12.5em;
	left: 9.375em;
 	display: block;
 	width:  -webkit-fit-content;
 
}

.animate__text {
	-webkit-animation-name: text;
	animation-name: text;
}

.text h2 {
	font: 4em medium;
	padding-bottom: 4.5rem;
	display: block;
	
}

.text h3 {
	font: 2.5em medium;
	display: block;
}

#im {
	padding-bottom: 55px;
}


/*线*/

#line {
	height: 2px;
	width: 70%;
	background-color: white;
	margin: 0 auto;
	border-radius: 3px;
	position: relative;
	top: 400px;
}


/*作品*/

#works {
	margin: 0 auto;
}

.icon {
	position: relative;
	margin: 0 auto;
	top: 35rem;
	width: 62.5rem;
	color: #4c5199;
	height: 31.25rem;
	font-size: 2.5rem;
	font-weight: 100;
	cursor: pointer;
	/*指针*/
}

.title {
	font-weight: 500;
	padding-bottom: 1.5rem;
	font-size: 3rem;
	width:  -webkit-fit-content;
	position: relative;
	left: 8%;
}

.article {
	font-weight: 300;
	font-size: 2rem;
	width:  -webkit-fit-content;
	position: relative;
	left: 8%;
}

.titler {
	font-weight: 500;
	font-size: 3rem;
	padding-left: 60%;
	padding-bottom: 1.5rem;
	width:  -webkit-fit-content;
}

.articler {
	font-weight: 300;
	font-size: 2rem;
	padding-left: 60%;
	width:  -webkit-fit-content;
}

#one {
	font-style: italic;
}

.oneimg {
	float: right;
	position: relative;
	right: 6.25rem;
	bottom: 12.5rem;
	width: 6.25rem;
}

.ohcard {
	position: relative;
	margin: 0 auto;
	top: 36.25rem;
	width: 62.5rem;
	color: #4c5199;
	height: 31.25rem;
	font-size: 2.5rem;
	font-weight: 100;
}

.ohimg {
	float: left;
	position: relative;
	bottom: 12.5rem;
	left: 8%;
}

.snack {
	position: relative;
	margin: 0 auto;
	top: 35rem;
	width: 62.5rem;
	color: #4c5199;
	height: 31.25rem;
	font-size: 2.5rem;
	font-weight: 100;
}

.snackimg {
	float: right;
	position: relative;
	right: 60px;
	bottom: 190px;
	width: 300px;
}

.magazine {
	position: relative;
	margin: 0 auto;
	top: 36.25rem;
	width: 62.5rem;
	color: #4c5199;
	height: 31.25rem;
	font-size: 2.5rem;
	font-weight: 100;
}

.magazineimg {
	float: left;
	position: relative;
	bottom: 12.5rem;
	width: 18.75rem;
	left: 8%;
}

.photograph {
	position: relative;
	margin: 0 auto;
	top: 35rem;
	width: 62.5rem;
	color: #4c5199;
	height: 31.25rem;
	font-size: 2.5rem;
	font-weight: 100;
}

.photographimg {
	float: right;
	position: relative;
	right: 60px;
	bottom: 165px;
	width: 300px;
}

.home img:hover {
	transform: scale(1.2);
	/*缩放倍率*/
	transition: all 0.2s linear;
	/*时间*/
}


/*About*/

.Abbg {
	background-color: #d6e0e5;
}

.myphoto {
	position: relative;
	top: 180px;
	left: 160px;
}

.contract {
	position: absolute;
	top: 520px;
	width: 500px;
	left: 56px;
}

ul li {
	padding-bottom: 30px;
	font-family: "微软雅黑";
	font-size: 24px;
	color: #3e3a39;
	font-weight: 500;
}

.ct {
	margin: 0px 0px 25px 35px;
	line-height: normal;
	position: relative;
	bottom: 10px;
}

.middle {
	width: 2.5rem;
	height: 57em;
	background-color: #5155a2;
	position: absolute;
	float: left;
	left: 34.375rem;
	top: 0;
}

.right {
	position: relative;
	left: 700px;
	line-height: 50px;
	letter-spacing: 10px;
	width: 600px;
}

.name {
	font-size: 36px;
	color: #323333;
}

.school {
	font-size: 25px;
	color: #595757;
	padding-bottom: 40px;
}

.headline {
	font-size: 25px;
	color: #323333;
}

.skill {
	font-size: 24px;
	color: #595757;
}

.skills {
	letter-spacing: 5px;
	font-size: 24px;
	color: #595757;
	padding: 5px 0 30px 0;
}

.serve {
	letter-spacing: 5px;
	font-size: 24px;
	color: #595757;
	line-height: 50px;
}


/*icon*/

.iconweb {
	position: relative;
 	top: 15em;
 	width: 52.5rem;
 	margin: 0 auto;
 	color: #4c5199;
	padding: 4rem;
 
}

#icons {
	margin: 0 auto;
	padding: 2rem;
	position: absolute;
	top:42rem;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 68%;    
	/*width:-webkit-fill-available;*/
}


/*ohcard*/

.ohcards {
	position: relative;
 	top: 20em;
 	width: 62.5rem;
 	margin: 0 auto;
 	color: #4c5199;
}

#ohimgs {
	float: left;
	width: 100%;
	position: relative;
	top: 26.625em;
}


/*snack*/

#snaimg {
	float: left;
	width: 80%;
	position: relative;
	top: 13.125rem;
	margin: 0 auto;
	left: 10%;
	padding-bottom: 100px;
}


/*magazine*/

#magaimg {
	float: left;
	width: 100%;
	position: relative;
	top: 100px;
	padding-bottom: 0px;
}


/*phtograph*/
.phweb{
	padding: 20rem;
}
#blue {
	width:31.25rem;
	position: relative;
	right: 6.5rem;
	padding-bottom: 0.625rem;
}

#green {
	width:37.5rem;
	position: absolute;
	top: 75rem;
	right: 10%;
}

#cat {
	width: 31.25rem;
	position: absolute;
	top: 110rem;
	left: 12.5rem;
	padding-bottom: 12.5rem;
}
