h1.title {
    text-align: center;
    padding-top: 20px;
  }

  .time {
    text-align: right;
    color: #666666;
    font-size: 1rem;
  }

  .box img {
    width: 750px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box p {
    font-size: 1.125em;
    color: #666;
    line-height: 175%;
  }

  .box span {
    font-size: 1em;
    color: #999999;
    line-height: 200%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-bottom: 20px;
  }
  .box ul{
    padding-left: 2rem;
    margin: 2rem 0;
  }
  .box ul li{
    list-style-type: disc;
    font-size: 1.125em;
    color: #666;
    line-height: 175%;
    margin: 1.2rem 0;
  }